.feature-card {
    width: 90%;
    background-color: var(--card-bg);
    color: var(--card-text);
    border: 2px solid var(--border-color);
    box-shadow: 9px 9px 0 0 var(--shadow-color);
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1;
  }


.feature-card:hover {
    box-shadow: 14px 14px 0 0 var(--shadow-color);
  }
